.user-profile {
    padding: 20px 0;
}

.stars {
    transform: translateY(-15px);
}

.friend_button {
    border: none;
    background-color: #0c7544;
    color: rgb(255, 255, 255);
    padding: 8px 15px;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 100%;
    border-radius: 10px;
    float: right;
}

.button:hover {
    background-color: #256d27;
    transition: 0.3s;
}

.overflow-container {
    max-height: 400px; /* Set the max height of the container */
    overflow-y: auto; /* Enable vertical scrolling */
    border: 1px solid #ccc; /* Optional: Add a border for clarity */
    padding: 10px; /* Optional: Add padding for better visuals */
    background-color: #f9f9f9; /* Optional: Add background for contrast */
}