.listing-header {
    padding-top: 30px;
}
.listing-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 300px;
}

.listing-image {
    width: 400px;
}

.create_new_listing {
    display: flex;
    padding-top: 10px;
}

