.topnav {
  background-color: white;
  overflow: hidden;
  width: 100%;
}

.topnav .home {
  margin-left: 2%;
}

.topnav .sign-in {
  position: absolute;
  left: 95%;
}

.topnav .reg {
  position: absolute;
  left: 90%;
}

.topnav a:hover {
  background-color: grey;

}

.topnav a:active {
  background-color: white;
}

.button {
  border: none;
  background-color: #498f3d;
  color: rgb(255, 255, 255);
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 100%;
  border-radius: 10px;
}

.button:hover {
  background-color: #256d27;
  transition: 0.3s;
}

.header_text {
  text-decoration: underline;
  text-decoration-color: #595959;
  color: #595959;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.center_input {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 3%;
  display: flex;
}

.right {
  margin-left: 10%;
}

.text_box {
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
  padding: 5px;
  width: 15rem;
  margin-right: 2%;
}

.signlink {
  display: flex;
  justify-content: right;
  gap: 10px;
  padding-right: 10px;
}

#login_header {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.user {
  display: flex;
  justify-content: center;
  padding: 15px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Temp change to text signup*/
.post_button {
  display: block;
  margin: 20px auto;
}