{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='listing.css') }}" />
{% endblock %}

{% block content %}
<h1 class="all_listings">All Listings</h1>
<form action="{{ url_for('listing.sorted_listing') }}" method="POST">
    <div>
        <span>
            <input type="radio" name="criteria" id="title" value="title" required> Title
            <br>
            <input type="radio" name="criteria" id="price" value="price"> Price
        </span>
    </div>
    <div>
        <span>
            <input type="radio" name="order" id="asc" value="asc"> Ascending
            <br>
            <input type="radio" name="order" id="desc" value="desc"> Descending
        </span>
    </div>
    <input type="submit" value="Sort">
</form>

<div class="listing-grid">
    {% for listing in listings.items %}
    <div class="listing-item">
        <h3>Title: {{ listing.title }}</h3>
        <p><b>Description: </b>{{ listing.description }}</p>
        <p><b>Price: </b>${{ listing.price }}</p>
        <a href="{{ url_for('listing.get_listing', listing_id=listing.id) }}">
            <img src="{{ url_for('listing.get_image', listing_id=listing.id) }}" alt="{{ listing.name }}" style="width: 400px;">
        </a>
    </div>
    {% endfor %}
</div>

<div class="pagination">
    <form method="POST" action="{{ url_for('listing.sorted_listing') }}">
        <input type="hidden" name="criteria" value="{{ request.form.criteria }}">
        <input type="hidden" name="order" value="{{ request.form.order }}">
        {% if listings.has_prev %}
        <button type="submit" name="page" value="{{ listings.prev_num }}">Previous</button>
        {% endif %}
        
        <!-- Always show the first page button -->
        <button type="submit" name="page" value="1" class="{% if 1 == listings.page %}current-page{% endif %}">1</button>
        
        <!-- Show ellipsis if there are pages between the first page and the current range -->
        {% if listings.page > 4 %}
        <span>...</span>
        {% endif %}
        
        <!-- Show the range of pages around the current page -->
        {% for page_num in range(2, listings.pages + 1) %}
            {% if page_num >= listings.page - 2 and page_num <= listings.page + 2 %}
                <button type="submit" name="page" value="{{ page_num }}" class="{% if page_num == listings.page %}current-page{% endif %}">{{ page_num }}</button>
            {% endif %}
        {% endfor %}
        
        <!-- Show ellipsis if there are pages between the current range and the last page -->
        {% if listings.page < listings.pages - 3 %}
        <span>...</span>
        {% endif %}
        
        <!-- Always show the last page button -->
        {% if listings.pages > 1 %}
        <button type="submit" name="page" value="{{ listings.pages }}" class="{% if listings.pages == listings.page %}current-page{% endif %}">{{ listings.pages }}</button>
        {% endif %}
        
        {% if listings.has_next %}
        <button type="submit" name="page" value="{{ listings.next_num }}">Next</button>
        {% endif %}
    </form>
</div>
{% endblock %}