{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='listing.css') }}" />
{% endblock %}

{% block content %}
<h1 class="all_listings">All Listings</h1>
<form action="/sort_listing" method="POST">
    <div>
        <span>
            <input type="radio" name="criteria" id="title" value="title" required> Title
            <br>
            <input type="radio" name="criteria" id="price" value="price"> Price
        </span>
    </div>
    <div>
        <span>
            <input type="radio" name="order" id="asc" value="asc"> Ascending
            <br>
            <input type="radio" name="order" id="desc" value="desc"> Descending
        </span>
    </div>
    <input type="submit" value="Sort">
</form>

<div class="listing-grid">
    {% for listing in listings %}
    <div class="listing-item">
        <h3>Title: {{ listing.title }}</h3>
        <p><b>Description: </b>{{ listing.description }}</p>
        <p><b>Price: </b>${{ listing.price }}</p>
        <a href="{{ url_for('listing.get_listing', listing_id=listing.id) }}">
            <img src="{{ url_for('listing.get_image', listing_id=listing.id) }}" alt="{{ listing.name }}" style="width: 400px;">
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}