{% extends "base.html" %}

{% block title %}Log in{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}"/>
<h1 id="login_header">{% block login_text %}Log In{% endblock %}</h1>

<form action="{% block action_url %}/auth{% endblock %}" method="POST">
    <h2 class="user">Username</h2>
    <div class="box">
        <input type="text" id="username" name="username" required>
    </div>

    <h2 class="user">Password</h2>
    <div class="box password-box">
        <input type="password" id="password" name="password" required>
        <noscript>
            <style>
                .toggle-password {
                    display: none;
                }
            </style>
        </noscript>
        <span class="toggle-password" onclick="togglePassword()">
            <i id="toggle-password-icon" class="fas fa-eye"></i>
        </span>
    </div>

    {% block class %}
    {% endblock %}

    <br>

    <button class="post_button">{% block sign_in_text %}Sign In{% endblock %}</button>
</form>

<script>
    function togglePassword() {
        const passwordField = document.getElementById('password');
        const togglePasswordIcon = document.getElementById('toggle-password-icon');
        if (passwordField.type === 'password') {
            passwordField.type = 'text';
            togglePasswordIcon.classList.remove('fa-eye');
            togglePasswordIcon.classList.add('fa-eye-slash');
        } else {
            passwordField.type = 'password';
            togglePasswordIcon.classList.remove('fa-eye-slash');
            togglePasswordIcon.classList.add('fa-eye');
        }
    }
</script>

{% endblock %}