{% extends "base.html" %}

{% block title %}Log in{% endblock %}

{% block content %}
<link href="login.css" rel = "stylesheet">
<h1 id="login_header">{% block login_text %}Log in{% endblock %}</h1>

<form action="create" method="POST">
    <h2 class="user">Username</h2>
    <div class="box">
        <input type="text" id="username" name="username" required>
    </div>

    <h2 class="user">Password</h2>
    <div class="box">
        <input type="textbox" id="password" name="password" required>
    </div>

    <br>

    <!-- BTW, this will need a block specific for where it GETs/POSTs from so that registration does a diff action... -->
    <button class="post_button">{% block sign_in_text %}Sign In{% endblock %}</button>
</form>

{% endblock %}