{% extends "index.html" %}

{% block content %}
<div class="signlink">
    <header><a href="/login">Sign in</a></header>
    <header><a href="/registration">Register</a></header>
</div>

<h1 id="login_header">Register</h1>
<form action="create" method="POST">
    <h2 class="user">Username</h2>
    <div class="box">
        <input type="text" id="username" name="username" required>
    </div>

    <h2 class="user">Password</h2>
    <div class="box">
        <input type="textbox" id="password" name="password" required>
    </div>

    <br>
    <button class="post_button">sign up</button>
</form>
{% endblock %}