{% extends "base.html" %}

{% block title %}{{ user }}{% endblock %}

{% block content %}

<div class="left">
    <div class="profile-icon">
        <img width="24" height="24" src="https://img.icons8.com/material-rounded/24/user.png" alt="user"/>
    </div>
    <div class="user-info">
        <h2>{{acc_name}}</h2>
        <p>{{class_lv}} year student at UNC Charlotte</p>
        <p>Member since {{member_since}}</p>
    </div>
</div>

<div class="right">
    <div class="stars">★★★★★</div>
    <button class="home-button" onclick="window.location.href='home.html'">
        Return to Home
    </button>
</div>
{% endblock %}
