{% extends "base.html" %}

{% block title %}{{ user }}{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='user.css') }}"/>
<script src="{{ url_for('static', filename='script.js') }}"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<!-- <script type=text/javascript>
    $(function() {
      $('friend-btn').on('click', function(e) {
        e.preventDefault()
        $.getJSON('/friend_request',
            function(data) {
        });
        return false;
      });
    });
</script>-->
{% endblock %}

{% block content %}

{% if friends_list %}
<div class="float-right mt-2">
    <h2>Friend List</h2>
    {% for friend in friends_list %}
    <div class = "card" >
        <div class = "card-body bg-light">
            <h5 class="card-title">{{friend.username}}</h5>
            <h6 class = "card-subtitle mb-3 text-muted">{{friend.class_level}} year student</h6>
            <p class = "card-text">{{friend.first_name}}</p>
            <a  href="{{ url_for('user.user', username=friend.username) }}" class="stretched-link">{{friend.first_name}}'s page</a>
        </div>
</div>
    {% endfor %}
    {% endif %}
</div>


<div class="user-profile">
    <div class="profile-icon">
        {% if user_image %}
        <img src="{{ url_for('user.get_user_image', username=acc_name) }}" alt="{{ acc_name }}'s Profile" style="width: auto; height: 200px;">
        {% else %}
        <img width="24" height="24" src="https://img.icons8.com/material-rounded/24/user.png" alt="user"/>
        {% endif %}
    </div>
    {% if acc_name != session['username'] %}
        <div class ="float-right">
            <button id = "friend-btn" 
            class="btn btn-success"
            data-other-id="{{acc_name}}"> AHHHHHHHHH </button>
            <h2>{{friend_flag}}</h2>
        </div>
    {% endif %}

    <div class="user-info">
        <h2>{{ acc_name }}</h2>
        <p>{{ class_lv }} year student at UNC Charlotte</p>
        <p>Member since {{ member_since }}</p>
    </div>
</div>

<div class="stars">
    {% for i in range(1, 6) %}
    {% if i <= rating %}
    ★
    {% else %}
    ☆
    {% endif %}
    {% endfor %}
</div>

<div class="home">
    <button class="home-button" onclick="window.location.href='home.html'">
        Return to Home
    </button>
</div>

<div>
    &nbsp;
</div>

{% if acc_name == session['username'] %}
<div div="button-box">
    <form action="/delete" method="POST" onsubmit="return confirm('Are you sure you want to delete your account?');">
        <button class="btn btn-danger" type="submit">
            Delete Account
        </button>
    </form>
</div>
{% else %}

{% endif %}

<div>
    &nbsp;
</div>


{% if acc_name != session['username'] and rate_flag %}
<div class="ratings">
    <form action="/rate" method="POST" id="rating-form" required>
        <label for="rating">Rate this user:</label>
        <select name="rating" id="rating" required>
            <option value="">Select rating</option>
            <option value="1">1 Star</option>
            <option value="2">2 Stars</option>
            <option value="3">3 Stars</option>
            <option value="4">4 Stars</option>
            <option value="5">5 Stars</option>
        </select>

        <input type="hidden" name="rated_user" value="{{ acc_name }}">

        <button type="submit" class="rate-button">Submit Rating</button>
    </form>
</div>
{% else %}

{% endif %}

<div>
    &nbsp;
</div>

{% if acc_name == session['username'] %}
<form action="{{ url_for('user.user', username=acc_name) }}" method="POST" enctype="multipart/form-data">
    <label for="files">Profile Picture:</label>
    <input type="file" name="files" id="files" accept="image/*">
    <div>
        <button>Update Profile Picture</button>
    </div>
</form>

{% else %}
{% endif %}

{% endblock %}