{% extends "base.html" %}

{% block title %}{{ user }}{% endblock %}

{% block content %}
<!--<link href="{{url_for('static',filename='user.css')}}" rel="stylesheet">-->

<div class="left">
    <div class="profile-icon">
        <img width="24" height="24" src="https://img.icons8.com/material-rounded/24/user.png" alt="user"/>
    </div>
    <div class="user-info">
        <h2>User XXXX</h2>
        <p>Third year student at UNC Charlotte</p>
        <p>Member since 2023</p>
    </div>
</div>

<div class="right">
    <div class="stars">★★★★★</div>
    <button class="home-button" onclick="window.location.href='home.html'">
        Return to Home
    </button>
</div>
{% endblock %}
