{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='listing.css') }}"/>
{% endblock %}

{% block content %}
<div class="single-listing">
    <h1>Title: {{ listing.title }}</h1>
    <p><b>Description: </b>{{ listing.description }}</p>
    <p><b>Price: </b>${{ listing.price }}</p>
    <p><b>Created By: </b>{{ listing.user.username }}</p>
    <p><b>Date Posted: </b>{{ listing.created_at.strftime('%m-%d-%Y') }}</p>
    <p><b>Time Posted: </b>{{ listing.created_at.strftime('%I:%M %p') }}</p>

    <img src="{{ url_for('listing.get_image', listing_id=listing.id) }}" alt="{{ listing.name }}"
         style="width: 400px; height: auto;">
    <a class="send_message_link" href="{{ url_for('messaging.view_messages', recipient=listing.user.username) }}">Send Message to {{ listing.user.username }}</a>

</div>

{% endblock %}
