{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='listing.css') }}"/>
{% endblock %}

{% block content %}
<div class="single-listing">
    <h1>Title: {{ listing.title }}</h1>
    <p>Description: {{ listing.description }}</p>
    <p>Price: ${{ listing.price }}</p>
    <p>Posted By: {{ session['username'] }}</p>     #Not working, needs actual author, not the session's author
    <img src="{{ url_for('listing.get_image', listing_id=listing.id) }}" alt="{{ listing.name }}"
         style="width: 400px; height: auto;">
    <a class=create_new_listing href="{{ url_for('listing.listing') }}">Create another listing</a>
</div>

{% endblock %}
